<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.bean.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastroLogin</servlet-name>
        <servlet-class>com.bean.ServletCadastroLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarProduto</servlet-name>
        <servlet-class>com.bean.ServletCadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastrarCategoria</servlet-name>
        <servlet-class>com.bean.ServletCadastrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletarCategoria</servlet-name>
        <servlet-class>com.bean.ServletDeletarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletarProduto</servlet-name>
        <servlet-class>com.bean.ServletDeletarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeslogar</servlet-name>
        <servlet-class>com.bean.ServletDeslogar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarCategoria</servlet-name>
        <servlet-class>com.bean.ServletEditarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarProduto</servlet-name>
        <servlet-class>com.bean.ServletEditarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIndex</servlet-name>
        <servlet-class>com.bean.ServletIndex</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastroLogin</servlet-name>
        <url-pattern>/ServletCadastroLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarProduto</servlet-name>
        <url-pattern>/ServletCadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastrarCategoria</servlet-name>
        <url-pattern>/ServletCadastrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletarCategoria</servlet-name>
        <url-pattern>/ServletDeletarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletarProduto</servlet-name>
        <url-pattern>/ServletDeletarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeslogar</servlet-name>
        <url-pattern>/ServletDeslogar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarCategoria</servlet-name>
        <url-pattern>/ServletEditarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarProduto</servlet-name>
        <url-pattern>/ServletEditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIndex</servlet-name>
        <url-pattern>/ServletIndex</url-pattern>
    </servlet-mapping>
</web-app>
